 <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
    {{ page.header }}
      <div class="main-navigation">
        {{ page.main_navigation }}
      </div>
 </header>